@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
h1{
    color:gray;
    text-align: center;
}
#main{
    /* to center the div */
    margin: 0 auto; 
    width: 50vw;
   
}
 
#detail-todo{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}
.transparent{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
}
#description{
    width: 40vw;
}
#category{
    height: 73px;
    border-right: 1px solid gray;
}
#category,#date{
    width: 20vw;
}

ul{
    list-style-type: none;
    margin: 3em auto;
    flex-wrap: wrap;
    display: flex;
}
li{
    position: relative;
   
}

label{
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 10px;
}
#description,#category,#date{
    font-size: 18px;
    margin: 9px 0 7px 0;
    padding: 2em 10px 10px 10px;
    min-width: 200px;
}

#todo_detail{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}
span{
    word-wrap: break-word;
}
.mar-b-10{
    margin-bottom: 10px;
   border-bottom: 1px  solid gray;
   width: 45vw;
}
#add-btn,#dlt-btn{
 
    border: none;
    border-radius: 5px;
    background-color: gray;
    padding: 8px;
    color: white;
    margin-left: 40%;
    font-size: 1.2rem;
    position: relative;
}
#dlt-btn{
    margin-left: 42%;
    margin-top: 10px;
    background-color: red;
    width: 120px;
}
#bottom{
    margin-left: -3%;
}
.tasks{
    margin-top: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 10px;
}
